<div class="jumbotron">
  <h2 class="display-4">Sign Up</h2>
  <form>
    <div class="form-group">
      <label for="first-name">

      </label>
      <input type="text" class="form-control" placeholder="First Name" id="first-name" ng-model="user.firstName">
    </div>
    <div class="form-group">
      <label for="last-name">

      </label>
      <input type="text" class="form-control" placeholder="Last Name" id="last-name" ng-model="user.lastName">
    </div>
    <div class="form-group">
      <label for="email">

      </label>
      <input type="email" class="form-control" placeholder="Email" id="email" ng-model="user.email">
    </div>
    <div class="form-group">
      <label for="password">

      </label>
      <input type="password" class="form-control" placeholder="Password" id="password" ng-model="user.password">
    </div>
    <div class="form-group">
      <label for="password-confirmation">

      </label>
      <input type="password" class="form-control" placeholder="Confirm Password" id="password-confirmation" ng-model="user.passwordConfirmation">
    </div>
  </form>
  <div class="button">
    <a class="btn btn-primary btn-lg" ng-href="#!/signup" role="button">Sign Me Up</a>
  </div>
</div>